html {
	height: 100%;
	font-family: 'Gulzar', serif;
	
	::-webkit-scrollbar {
		display: none;
	}
}

body,
#root {
	* {
		font-family: "Clacon", serif !important;
		font-size: 22px;
	}

	background-color: #121212 !important;
	color: white;
	min-height: 100%;
}

a {
	&:hover {
		text-decoration: underline;
	}

	text-decoration: none;
	cursor: pointer;
}

.social-button {
	&:hover {
		background-color: #323232 !important;
	}
}
