<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
			name="viewport"
		/>
		<title><%= title %></title>
		<meta name="title" content="Max Rosoff" />
		<meta name="description" content="<%= description %>" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="<%= url %>" />
		<meta property="og:title" content="<%= title %>" />
		<meta property="og:description" content="<%= description %>" />
		<meta property="og:image" content="<%= image %>" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="<%= url %>" />
		<meta property="twitter:title" content="<%= title %>" />
		<meta property="twitter:description" content="<%= description %>" />
		<meta property="twitter:image" content="<%= image %>" />
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
