html {
    height: 100%;

    ::-webkit-scrollbar {
        display: none;
    }
}

body,
#root {
    min-height: 100%;
}

a {
    &:hover {
        text-decoration: underline;
    }

    text-decoration: none;
    cursor: pointer;
}
